@model LoginViewModel;
@{
    ViewBag.Title = "Login";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <div style="flex: 0 0 30%;">
            <h2>로그인</h2>
            <hr />
            <form asp-antiforgery=true method="post">
                <div class="form-group">
                    <label asp-for="@Model.Email">이메일</label>
                    <input class="form-control" name="email"  asp-for="@Model.Email"/> 
                    <span class="text-danger" asp-validation-for="@Model.Email"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Password">비밀번호</label>
                    <input class="form-control" name="password" asp-for="@Model.Password" /> 
                    <span class="text-danger" asp-validation-for="@Model.Password"></span>
                </div>

                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary">로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>